/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first (default) */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    font-family: Arial;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: orangered;
}
.a {
    text-decoration: none;
}
.h1 {
    color: orangered;
}
i {
    color: grey;
}
footer {
    text-align: center;
    margin-top: 50px;
}
footer hr {
    border-top: 5px solid orangered;
    width: 60%;
    margin: auto;
}
img {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 100px;
    height: auto;
}
/* Hamburger */
.hamburger {
    width: 30px;
    cursor: pointer;
}
.hamburger span {
    display: block;
    height: 3px;
    background: black;
    margin: 6px 0;
}
/* Mobile Menu */
.nav {
    display: none;
    flex-direction: column;
    background: orangered;
}
.nav a {
    padding: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}
.nav.show {
    display: flex;
}
.content {
    padding: 15px;
    font-family: none;
}
.logo {
    color: black;
}
/* Tablet & Desktop */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav a {
        border: none;
    }
        body {
            background-color: black;
            color: white;
        }
        h1 {
            color: orangered;
        }
        #logo1 {
            color: black;
            margin-bottom: 5%;
        }
        span {
            font-style: italic;
            color: gray;
        }
        
        nav {
            margin-top: 100px;
            margin-bottom: 50px;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0%;
            text-align: right;
            background: black;
        }

        nav li {
            display: inline;
            padding: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
        }

        .nav-links.currentpage {
            border-bottom: black solid 5px;
        }

        footer {
            text-align: center;
            margin-top: 50px;
        }

        footer hr {
            border-top: 2px solid orangered;
            width: 60%;
            margin: auto;
        }

        .wrapper {
            max-width: 1000px;
            margin: auto;
        }

        img {
            float: right;
            margin-left: 5px;
            margin-bottom: 5px;
            width: 300px;
            height: auto;
        }
        #header1 {
            position:fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 60px;
            background: orangered;
            align-items: center;
            padding: 0 20px;
            z-index: 1000;
            text-align: right;
            padding-top: 5% ;
        }
        .header2 {
            text-align: center;
        }
    }
