/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first (default) */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    font-family: Arial;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: orangered;
}
h1 {
    color: orangered;
    text-align: center;
}
h3 {
    color: orangered;
}
#para1 {
    text-align: center;
    color: orange;
}
table, td, th {
    border: 1px solid orangered;
}
table {
    border-collapse: collapse;
    width: 55%;
}
i {
    color: grey;
}
footer {
    text-align: center;
    margin-top: 50px;
}
footer hr {
    border-top: 5px solid orangered;
    width: 60%;
    margin: auto;
}
/* Hamburger */
.hamburger {
    width: 30px;
    cursor: pointer;
}
.hamburger span {
    display: block;
    height: 3px;
    background: black;
    margin: 6px 0;
}
/* Mobile Menu */
.nav {
    display: none;
    flex-direction: column;
    background: orangered;
}
.nav a {
    padding: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}
.nav.show {
    display: flex;
}
.content {
    padding: 15px;
    font-family: none;
}
.logo {
    color: black;
}

/* Tablet & Desktop */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav a {
        border: none;
    }
            body {
                background-color: black;
                color: white;
            }
            table, td, th {
                border: 1px solid orangered;
            }
            table {
                border-collapse: collapse;
                width: 55%;
            }
            h1 {
                text-align: center;
            }
            h3 {
                color: orangered;
            }
            nav {
                margin-top: 50px;
                margin-bottom: 50px;
            }
            nav ul {
                list-style-type: none;
                padding: 0%;
                margin: 0%;
                text-align: right;
                background: black;
            }
            nav li {
                display: inline;
                padding: 10px;
            }
            nav a {
                text-decoration: none;
                color: white;
            }
            .nav-links.currentpage {
                border-bottom: black solid 5px;
            }
            #logo1 {
                color: black;
                margin-bottom: 5%;
            }
            h1 {
                color: orangered;
            }
            #header1 {
                position: sticky;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 60px;
                background-color: orangered;
                align-items: center;
                padding: 0 20px;
                z-index: 1000;
                padding-top: 5%;
            }
            .wrapper {
                max-width: 1000px;
                margin: auto;
            }
            img {
                max-width: 200px;
                height:auto;
                border-radius:0%;
                border: 2px solid #333;
                display: block;
                object-fit: cover;
            }
            #para1 {
                text-align: center;
                color: orange;
            }
            .center {
                text-align: center;
                text-decoration: underline;
                color: orange;
            }
            footer {
                text-align: center;
                margin-top: 50px;
            }
            footer hr {
                border-top: 5px solid orangered;
                width: 60%;
                margin: auto;
            }
        }
