/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first (default) */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    font-family: Arial;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background:orangered;
}
.a {
    text-decoration: none;
}
.h1 {
    color: orangered;
}
i {
    color: grey;
}
footer {
    text-align: center;
    margin-top: 50px;
}
footer hr {
    border-top: 5px solid orangered;
    width: 60%;
    margin: auto;
}
/* Hamburger */
.hamburger {
    width: 30px;
    cursor: pointer;
}
.hamburger span {
    display: block;
    height: 3px;
    background: black;
    margin: 6px 0;
}
/* Mobile Menu */
.nav {
    display: none;
    flex-direction: column;
    background: orangered;
}
.nav a {
    padding: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}
.nav.show {
    display: flex;
}
.content {
    padding: 15px;
    font-family: none;
}
.logo {
    color: black;
}
footer {
    text-align: center;
    margin-top: 50px;
}
footer hr {
    border-top: 2px solid orangered;
    width: 60%;
    margin: auto;
}
/* Tablet & Desktop */
@media (min-width: 768px) {
    body{
        padding-top: 11%;
    }
    .hamburger {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav a {
        border: none;
    }
    .nav-links.currentpage {
        border-bottom: black solid 5px;
    }
    .header1 {
        position:fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 60px;
        align-items: center;
        padding: 0 20px;
        z-index: 1000;
        text-align: right;
        padding-bottom: 2%;
    }
    footer {
        text-align: center;
        margin-top: 50px;
    }
    footer hr {
        border-top: 2px solid orangered;
        width: 60%;
        margin: auto;
    }
    .wrapper {
        max-width: 1000px;
        margin: auto;
    }

}
